html
  head
    title Socketman
    script(type="text/javascript" src="js/view.js")
    link(type="text/css" rel="stylesheet" href="css/layout.css")

  body
    h1 Socketman

    button#js-start-round Start round
    button#js-end-round End round

    section#js-leaderboard

