html
  head
    title Socketman
    link(type="text/css" rel="stylesheet" href="css/layout.css")

  body
    h1 Socketman

    section#js-timer
    section#js-buttons

    section#js-leaderboard

    section#canvas-container

    script(type="text/javascript" src="js/bundle.js")
